@{
    ViewBag.Title = "TO DO List";
}


<h3>TO DO List</h3>
<li>
    <ol>User Authentication and integration. How will the app behave with user auth? A user can only upvote/downvote once. </ol>
    <ol>Add Prompt</ol>
    <ol>Create Story from prompt</ol>
    <ol>Delete Section</ol>
    <ol>Revise Section</ol>
</li>